
body{
    margin: 0;
    width: 100%;
}

.header-container{ 
    display: flex;
    width: 100%;
    height: 50px;

    margin: 0;
}

/*Propiedas a la imagen principal del header*/
.icon-travel{
    margin: 2px 10px ;
    width: 168px;
    height: 50px;
}
/*Propiedas para el contendero del header (icono + barra nav)*/
.headet-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 95%;
    font-size: 25px;
    padding: 2px 10px;
    text-decoration: none;
    margin:0;
}
/*Propiedas a la ul de la barra nav*/
ul{
    display: flex;
    margin: 0px 25px ;
    height: 100%;
}
ul li{
    list-style: none;
    margin: 0px 5px; 
    height: 100%;
    width: 125px; 
}
/*Estilos al texto de la barra nav*/
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(103, 13, 126);
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 125px;
    padding: 25px auto;
}
.menu:hover{
    color:white;
    background-color:rgb(103, 13, 126) ;
}
.vuelo{
    color: rgb(103, 13, 126);
}
.vuelo:hover{
    color:white;
    background-color:rgb(103, 13, 126) ;  
}
                                  /* Maquetacion del contenedor primea etapa canaima*/

.search-container{ 
    margin: 0;
    width: 90%;
    height: 610px;
    background-image: url(../../../../Imagenes/Imagenes_V_Paquetes/Group1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}
/* Propiedades titulo Principal "Parque Nacional"*/
.title1{
    display: flex;
    justify-content: center;
    position: relative;
    /* margin: 20px 15px 0px px ; */
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
/* Propiedades titulo Secundario "Campamento Canaima"*/
.title2{
margin: 100px 10px 0px 205px;
font-size: 25px;
font-family: 'Poppins', sans-serif;
color: rgb(255, 194, 40);
}
/* Contenedor que agrupa cuadro de texto informativo e imagen*/
.campament1{
    display: flex;
    justify-content: center;
    width: 95%;
    height: 250px;
    margin: 25px auto;
}
/* Contenedor que agrupa cuadro de texto informativo e imagen*/
.text-container{
    margin: 5px 5px 0 10px;
}

.campament-information{
    width: 430px;
    height: 170px;
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px 10px 15px;
    margin: 45px 0px 0px 5px;
    border: 1px solid rgb(194, 194, 194);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgb(90, 90, 90);
    line-height: 33px;
}


.canaima-img{
     width: 650px;
    height: 350px;
    border-radius: 10px;
    margin: 15px 5px 0px 15px;
}

.canaima-img:hover{
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 15px -1px #000000; 
    box-shadow: 5px 5px 15px -1px #000000;
    }

.title3{
position: relative;
width: 450px;
margin: 45px 0px 0px 0px;
font-size: 20px;
font-family: 'Poppins', sans-serif;
color: rgb(255, 255, 255);
}


.canaima-container{ 
    background-color: aqua;
    margin: 0;
    width: 100%;
    height: 450px;
      background-image: url(../../../../Imagenes/Imagenes_V_Paquetes/Group2_VP.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(../../../../Imagenes/Imagenes_V_Paquetes/Vector.svg);
    background-repeat: no-repeat;
    background-size: cover; */
    padding-top: 20px;
}

.title2-1{
margin: 25px 10px 0px 140px;
font-size: 20px;
font-family: 'Poppins', sans-serif;
color: rgb(255, 194, 40);
}

.title2-2{
    position: relative;
margin: 30px 10px 0px 140px;
font-size: 20px;
font-family: 'Poppins', sans-serif;
color: rgb(255, 194, 40);
width: 250px;
background-color: blue;
}

.campament12{
    display: flex;
    justify-content: center;
    margin: 30px 10px 85px 10px;
    width: 100%;
}


.canaima-container2{ 
    box-sizing: border-box;
    margin-bottom: 25px;
    width: 100%;
    height: 650px;
    background-image: url(../../../../Imagenes/Imagenes_V_Paquetes/TurkeyGroup.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}
                /*----------- Estilos para pie de  pagina--------------*/

/*Propiedades del contenedor Father del pie de pagina*/
.footer-container{
    margin-top: 250px;
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: center;
    margin-top: 10px;
    border: 1.5px solid lightgray;
  /* background-image: linear-gradient(to top, #7b449b 0%, #583469 49%, #80197a 100%); */
  background-color: rgb(83, 19, 112);
  }
/*Propiedades del contenedor que contiene los iconos de redes sociales*/
.social-network{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 100%;
}
/*Propiedades de los iconos de redes sociales*/
.icon-snetwork{
    width: 47px;
    height: 50px;
    margin: 40px 3px 0px 5px;
    border-radius: 7px;
}
/*Animaciones de los iconos de redes sociales*/
a .icon-snetwork:hover{
    width: 55px;
    height: 58px;
    border-radius: 50%;
    border: 0.7px solid rgb(179, 179, 179);
    -webkit-box-shadow: 5px 5px 15px -1px #000000; 
    box-shadow: 5px 5px 15px -1px #000000;
    padding: 0 auto;
    }